<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146366377-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-146366377-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simple Blockchain</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


</head>

<body  style="font-family: 'IBM Plex Sans', sans-serif;padding: 0% 2% 2% 2%">




<div id="spinner"  style=" position: fixed; height: 340px;width: 340px;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);"
     class="spinner-grow text-primary"
     role="status">

</div>

<section   id="section" >
    <div style="margin-top: 30px" class="row ">


        <div class="col-xs-4 col-4 text-center d-block d-md-none"><h1><a  style="color: black" href="/">Home  </a> </h1></div>
        <div class="col-xs-4 col-4 text-center d-block d-md-none"><h1><a style="color: black"  href="/demo">Simple Blockchain  </a> </h1></div>
        <div class="col-xs-4 col-4 text-center d-block d-md-none"><h1><a style="color: black"  href="/cryptodemo">Crypto Blockchain  </a> </h1></div>

    </div>
    <div class="d-none d-md-block">
        <nav class="navbar " role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a  href="/">
                    <img style="height: 70px;width:70px;"  src="./templates/blockchain.png" >
                </a>

                <a  role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu ">
                <div class="navbar-start">

                    <a href="/demo" style="font-size: 20px;color: black" class="navbar-item">
                        SIMPLE BLOCKCHAIN
                    </a>
                    <a href="/cryptodemo" style="font-size: 20px;color: black" class="navbar-item">
                        CRYPTO BLOCKCHAIN
                    </a>

                    <div  style="font-size: 20px" class="navbar-item has-dropdown is-hoverable">
                        <a style="font-size: 20px" class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a  href="https://github.com/atharvau/Blockchain_in_GO" style="font-size: 20px" class="navbar-item">
                                How To Use
                            </a>
                            <a href="https://github.com/atharvau/Blockchain_in_GO" style="font-size: 20px"  class="navbar-item">
                                Github
                            </a>
                            <a href="https://in.linkedin.com/in/atharva-udapure" style="font-size: 20px"  class="navbar-item">
                                Contact
                            </a>

                        </div>
                    </div>
                </div>


            </div>
        </nav>
    </div>

    <br/>
    <br/>
    <br/>


    <h2 style="text-align: center" class="title is-2 animated fadeInDown">Blockchain Demo</h2>
    <br/><br/><br/>
    <div class="row justify-content-md-center ">
        <div class="col-md-8 mr-8 shadow-lg p-3 mb-5 bg-white rounded col-xs-12 animated fadeInUp">
            <div class="row justify-content-md-center">
                <div class="col-md-4 col-12 ">

                    <div class="field">
                        <label class="label">Add New Block</label>
                        <div class="control has-icons-left has-icons-right">
                            <input value="000" id="newdata"class="input is-success" type="text" placeholder="Text input" value="">
                            <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
                            <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
                        </div>
                        <p class="help is-success">String or Number Accepted</p>
                        <div class="control">
                            <button id="add" class="button is-link">Add</button>
                        </div>

                    </div>


                </div>
                <div class="col-md-4">

                    <div class="field">
                        <label class="label">Change Difficulty</label>
                        <div class="control has-icons-left has-icons-right">
                            <input  id="diff" class="input is-danger" type="number" placeholder="Email input" max="5" min="1"  value="3">
                            <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
                            <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
                        </div>
                        <p class="help is-danger">Increases Mining Difficulty</p>
                        <div class="control">
                            <button id="changediff" class="button is-link">Change</button>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">

                    <div class="field">
                        <label class="label">Reset Blockchain</label>
                        <div class="control has-icons-left has-icons-right">
                        <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
                            <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
                        </div>
                        <p style="margin-top: 50px" class="help is-danger">Bchain will be Deleted</p>
                        <div class="control">
                            <button id="reset" class="button is-link">Reset</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
    <div class="row justify-content-md-center">

        <div class="col-md-10 justify-center">
            <div id="chain" class="row justify-content-md-center" >


            </div>
        </div>
    </div>


</section>




<script type="text/javascript">
    $(document).ready(function() {
            $("#spinner").hide()
            //
            //
            //
            //
            // $("#section").show()
        }
    )

    $.get("/getchain", function (rs, status) {



        console.log(rs.blockchain);
        $("#chain").html("<div></div>");


        rs.blockchain.map(function (block) {

            var color = "white";
            if (block.Validate === false) color="#E91E63";
            $("#chain").append(`<div  class="col-md-4 col-xs-10 col-10  animated fadeInRight "  > <div  style="background-color: ${color};  " class="mr-8 shadow-lg p-3 mb-5  rounded">
                <div class="label">
${rs.blockchain.indexOf(block)}
                </div>
                <div class="field">
                    <label >PrevHash</label>
                    <div class="control">
                        <input class="input" value="${block.PrevHash}" type="text" disabled="true" >
                    </div>
                </div>
                <div class="field">
                    <label >Data</label>
                   <div class="control">
                  <input class="input" value="${block.Data}"   id='block${rs.blockchain.indexOf(block)}' type="text"   >
                            </div>
                </div>
 <div class="field">
   <label >Hash</label>
    <div class="control">
   <input value="${block.CurrHash}"  class="input" type="text" disabled="true">
                     </div>
     </div>
   <div class="row">
     <div class="col-md-6">
   <button class="button is-light" onclick="f(${rs.blockchain.indexOf(block)})" >Change Data</button>
    </div>
<div style='margin-top: 10px' class="col-md-3">  <h4>Nonce</h4></div>
 <div style='margin-top: 10px' class="col-md-3">    <h4> ${block.Nonce} </h4></div> <div class="col-md-6">
      </div>
       </div>
      </div>`);


        })
    });


    $("#add").click(function () {



        // alert("Handler for .click() called." + $("#newdata").val());

        $("#spinner").show();

        $("#section").hide();

var hiu="";
if($("#newdata").val()==="")
    hiu="000"
        else
            hiu=$("#newdata").val()


        $.get("/addblock?data=" + hiu, function (rs, status) {

            $("#spinner").hide();

            $("#section").show();



            console.log(rs.blockchain);
            $("#chain").html("<div></div>");


            rs.blockchain.map(function (block) {

                var color = "white";
                if (block.Validate === false) color="#E91E63";
                $("#chain").append(`<div  class="col-md-4 animated fadeInRight "  > <div  style="background-color: ${color};  " class="mr-8 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="label">
${rs.blockchain.indexOf(block)}
                </div>
                <div class="field">
                    <label >PrevHash</label>
                    <div class="control">
                        <input class="input" value="${block.PrevHash}" type="text" disabled="true" >
                    </div>
                </div>
                <div class="field">
                    <label >Data</label>
                   <div class="control">
                  <input class="input" value="${block.Data}"   id='block${rs.blockchain.indexOf(block)}' type="text"   >
                            </div>
                </div>
 <div class="field">
   <label >Hash</label>
    <div class="control">
   <input value="${block.CurrHash}"  class="input" type="text" disabled="true">
                     </div>
     </div>
   <div class="row">
     <div class="col-md-6">
   <button class="button is-light" onclick="f(${rs.blockchain.indexOf(block)})" >Change Data</button>
    </div>
<div style='margin-top: 10px' class="col-md-3">  <h4>Nonce</h4></div>
 <div style='margin-top: 10px' class="col-md-3">    <h4> ${block.Nonce} </h4></div> <div class="col-md-6">
      </div>
       </div>
      </div>`);



            })
        });


    });
    $("#reset").click(function () {

        $("#section").hide();
        $("#spinner").show();

        $.get("/reset", function (rs, status) {
            $("#section").show();
            $("#spinner").hide();


            console.log(rs.blockchain);
            $("#chain").html("<div></div>");


            rs.blockchain.map(function (block) {

                var color = "white";
                if (block.Validate === false) color="#E91E63";
                $("#chain").append(`<div  class="col-md-4 animated fadeInRight  "  > <div  style="background-color: ${color};  " class="mr-8 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="label">
${rs.blockchain.indexOf(block)}
                </div>
                <div class="field">
                    <label >PrevHash</label>
                    <div class="control">
                        <input class="input" value="${block.PrevHash}" type="text" disabled="true" >
                    </div>
                </div>
                <div class="field">
                    <label >Data</label>
                   <div class="control">
                  <input class="input" value="${block.Data}"   id='block${rs.blockchain.indexOf(block)}' type="text"   >
                            </div>
                </div>
 <div class="field">
   <label >Hash</label>
    <div class="control">
   <input value="${block.CurrHash}"  class="input" type="text" disabled="true">
                     </div>
     </div>
   <div class="row">
     <div class="col-md-6">
   <button class="button is-light" onclick="f(${rs.blockchain.indexOf(block)})" >Change Data</button>
    </div>
<div style='margin-top: 10px' class="col-md-3">  <h4>Nonce</h4></div>
 <div style='margin-top: 10px' class="col-md-3">    <h4> ${block.Nonce} </h4></div> <div class="col-md-6">
      </div>
       </div>
      </div>`);


            })
        });


    });

    $("#changediff").click(function () {
        // alert("Handler for .click() called." + $("#newdata").val());
        $("#section").hide();
        $("#spinner").show();


            $.get("/changediff?diff=" + $("#diff").val(), function (rs, status) {


                $("#section").show();
                $("#spinner").hide();

                console.log(rs.blockchain);
                $("#chain").html("<div></div>");

                rs.blockchain.map(function (block) {

                    var color = "white";
                    if (block.Validate === false) color = "#E91E63";
                    $("#chain").append(`<div  class="col-md-4 animated fadeInRight  "  > <div  style="background-color: ${color};  " class="mr-8 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="label">
${rs.blockchain.indexOf(block)}
                </div>
                <div class="field">
                    <label >PrevHash</label>
                    <div class="control">
                        <input class="input" value="${block.PrevHash}" type="text" disabled="true" >
                    </div>
                </div>
                <div class="field">
                    <label >Data</label>
                   <div class="control">
                  <input class="input" value="${block.Data}"   id='block${rs.blockchain.indexOf(block)}' type="text"   >
                            </div>
                </div>
 <div class="field">
   <label >Hash</label>
    <div class="control">
   <input value="${block.CurrHash}"  class="input" type="text" disabled="true">
                     </div>
     </div>
   <div class="row">
     <div class="col-md-6">
   <button class="button is-light" onclick="f(${rs.blockchain.indexOf(block)})" >Change Data</button>
    </div>
<div style='margin-top: 10px' class="col-md-3">  <h4>Nonce</h4></div>
 <div style='margin-top: 10px' class="col-md-3">    <h4> ${block.Nonce} </h4></div> <div class="col-md-6">
      </div>
       </div>
      </div>`);


                })

            });



    });


    function f(e) {
        // alert("Handler for .click() called." + $("#newdata").val());
        var str = "#block" + e;
        $("#spinner").show();
        $("#section").hide();

        $.get("/setdata?index=" + e + "&data=" + $(str).val(), function (rs, status) {

            console.log(rs.blockchain);
            $("#chain").html("<div></div>");


            $("#section").show();
            $("#spinner").hide();



                rs.blockchain.map(function (block) {

                    var color = "white";
                    if (block.Validate === false) color="#E91E63";
                    $("#chain").append(`<div  class="col-md-4  animated fadeInRight "  > <div  style="background-color: ${color};  " class="mr-8 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="label">
${rs.blockchain.indexOf(block)}
                </div>
                <div class="field">
                    <label >PrevHash</label>
                    <div class="control">
                        <input class="input" value="${block.PrevHash}" type="text" disabled="true" >
                    </div>
                </div>
                <div class="field">
                    <label >Data</label>
                   <div class="control">
                  <input class="input" value="${block.Data}"   id='block${rs.blockchain.indexOf(block)}' type="text"   >
                            </div>
                </div>
 <div class="field">
   <label >Hash</label>
    <div class="control">
   <input value="${block.CurrHash}"  class="input" type="text" disabled="true">
                     </div>
     </div>
   <div class="row">
     <div class="col-md-6">
   <button class="button is-light" onclick="f(${rs.blockchain.indexOf(block)})" >Change Data</button>
    </div>
<div style='margin-top: 10px' class="col-md-3">  <h4>Nonce</h4></div>
 <div style='margin-top: 10px' class="col-md-3">    <h4> ${block.Nonce} </h4></div> <div class="col-md-6">
      </div>
       </div>
      </div>`);


                })

        });

        $.get("/validate", function (rs, status) {

            console.log(rs.blockchain);
            $("#chain").html("<div></div>");




                rs.blockchain.map(function (block) {

                    var color = "white";
                    if (block.Validate === false) color="#E91E63";
                    $("#chain").append(`<div  class="col-md-4   animated fadeInRight "  > <div  style="background-color: ${color};  " class="mr-8 shadow-lg p-3 mb-5  rounded">
                <div class="label">
${rs.blockchain.indexOf(block)}
                </div>
                <div class="field">
                    <label >PrevHash</label>
                    <div class="control">
                        <input class="input" value="${block.PrevHash}" type="text" disabled="true" >
                    </div>
                </div>
                <div class="field">
                    <label >Data</label>
                   <div class="control">
                  <input class="input" value="${block.Data}"   id='block${rs.blockchain.indexOf(block)}' type="text"   >
                            </div>
                </div>
 <div class="field">
   <label >Hash</label>
    <div class="control">
   <input value="${block.CurrHash}"  class="input" type="text" disabled="true">
                     </div>
     </div>
   <div class="row">
     <div class="col-md-6">
   <button class="button is-light" onclick="f(${rs.blockchain.indexOf(block)})" >Change Data</button>
    </div>
<div style='margin-top: 10px' class="col-md-3">  <h4>Nonce</h4></div>
 <div style='margin-top: 10px' class="col-md-3">    <h4> ${block.Nonce} </h4></div> <div class="col-md-6">
      </div>
       </div>
      </div>`);


                })

        });


    }


</script>
</body>


</html>