<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146366377-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-146366377-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crypto Blockchain</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body style="font-family: 'IBM Plex Sans', sans-serif;
  padding: 0% 2% 2% 2%
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">




        <div id="spinner"  style=" position: fixed; height: 340px;width: 340px;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);"  class="spinner-grow text-primary" role="status">




        </div>
<div id="spinner2"  />



</div>




<section    id="section">

    <div style="margin-top: 30px" class="row ">


        <div class="col-xs-4 col-4 text-center d-block d-md-none"><h1><a  style="color: black" href="/">Home  </a> </h1></div>
        <div class="col-xs-4 col-4 text-center d-block d-md-none"><h1><a style="color: black"  href="/demo">Simple Blockchain  </a> </h1></div>
        <div class="col-xs-4 col-4 text-center d-block d-md-none"><h1><a style="color: black"  href="/cryptodemo">Crypto Blockchain  </a> </h1></div>

    </div>
    <div class="d-none d-md-block">
        <nav class="navbar " role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a  href="/">
                    <img style="height: 70px;width:70px;"  src="./templates/blockchain.png" >
                </a>

                <a  role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu ">
                <div class="navbar-start">

                    <a href="/demo" style="font-size: 20px;color: black" class="navbar-item">
                        SIMPLE BLOCKCHAIN
                    </a>
                    <a href="/cryptodemo" style="font-size: 20px;color: black" class="navbar-item">
                        CRYPTO BLOCKCHAIN
                    </a>

                    <div  style="font-size: 20px" class="navbar-item has-dropdown is-hoverable">
                        <a style="font-size: 20px" class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a  href="https://github.com/atharvau/Blockchain_in_GO" style="font-size: 20px" class="navbar-item">
                                How To Use
                            </a>
                            <a href="https://github.com/atharvau/Blockchain_in_GO" style="font-size: 20px"  class="navbar-item">
                                Github
                            </a>
                            <a href="https://in.linkedin.com/in/atharva-udapure" style="font-size: 20px"  class="navbar-item">
                                Contact
                            </a>

                        </div>
                    </div>
                </div>


            </div>
        </nav>
    </div>

        <br/>

        <h1  style="color: black;text-align: center" class="title">Wallets</h1>
        <br/>



        <div  data-aos="flip-left" id="wallet" class="row justify-content-center">
            <div  class="col-md-3  ">

                <div class="row shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="col-md-4 col-xs-4 col-4">
                        <img src="https://i.imgur.com/yMY1aiG.png" style="  border-radius: 50%;">
                    </div>
                    <div class="col-md-4 col-xs-4 col-4">
                        <div style="margin-top: 20px"><h2>STEVE </h2></div>
                        <div><h4>0x111111</h4></div>
                    </div>
                    <div class="col-md-4 col-xs-4 col-4">

                        <div style="margin-top: 10px" id="a"><h1 style="font-size: 55px">50</h1></div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div style="padding: 22px" class="row shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="col-md-4 col-xs-4 col-4">
                        <img src="https://i.imgur.com/TO08xap.png" style="  border-radius: 50%;">
                    </div>
                    <div class="col-md-4 col-xs-4 col-4">
                        <div style="margin-top: 20px"><h2>MARK </h2></div>
                        <div><h4>0x222222</h4></div>
                    </div>
                    <div class="col-md-4 col-xs-4 col-4">
                        <div id="b"><h1 style="font-size: 45px">50</h1></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div style="padding: 22px" class="row shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="col-md-4 col-xs-4 col-4">
                        <img src="https://i.imgur.com/TQhJzRV.png" style="  border-radius: 50%;">
                    </div>
                    <div class="col-md-4 col-xs-4 col-4">
                        <div style="margin-top: 20px"><h2>BILL </h2></div>
                        <div><h4>0x333333</h4></div>
                    </div>
                    <div class="col-md-4 col-xs-4 col-4">
                        <div id="c"><h1 style="font-size: 45px">50</h1></div>
                    </div>
                </div>
            </div>
        </div>

        <br/> <br/>

        <h1  style="color: black;text-align: center" class="title">Add New Transaction/Block</h1>

        <br/>
        <br/>


        {{/*    <div class="text-center row justify-content-center" >*/}}
        {{/*        <div class="col-md-1 ">*/}}
        {{/*            <h1 ><button class="btn" style="color:white;font-size: 25px;background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%)" >Focus</button>*/}}
        {{/*            </h1>*/}}
        {{/*        </div>*/}}
        {{/*    </div>*/}}


        <div data-aos="flip-left" style="position: relative;z-index: 11" id="send" class="row justify-content-center ">

            <div class="col-md-8 bg-white shadow-lg shadow-lg shadow-lg">
                <div class="row">
                    <div class="col-md-3">
                        <br/>

                        <div><h1>Sender</h1></div>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    <select id="sender" name="sender">
                                        <option value="0x111111">Steve</option>
                                        <option value="0x222222">Mark</option>
                                        <option value="0x333333">Bill</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <br/>

                        <div><h1>Reciver</h1></div>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    <select id="reciver" name="reciver">
                                        <option value="0x111111">Steve</option>
                                        <option value="0x222222">Mark</option>
                                        <option value="0x333333">Bill</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <br/>

                        <div><h1>Minner</h1></div>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <div class="select is-fullwidth">
                                    <select id="miner" disabled name="miner">
                                        <option value="0x111111">Steve</option>
                                        <option value="0x222222">Mark</option>
                                        <option value="0x333333">Bill</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <br/>

                        <div><h1>Amount</h1></div>

                        <div class="field has-addons has-addons-centered">
                            <p class="control">

                            </p>
                            <p class="control">
                                <input id="amount" min="1" class="input" type="number" placeholder="Amount of money">
                            </p>
                            <p class="control">
                            <span>

                            <button id="transfer" class="button is-primary">
                                Transfer

                            </button>
                            </span>

                            </p>
                        </div>
                    </div>
                </div>
                <br/>
            </div>

        </div>
        <br/>
        <br/> <br/>

        <h1  style="color: black;text-align: center" class="title">Blockchain</h1>

        <br/>



        <div style="padding: 60px" class="row " id="chain"></div>


    </div>

</section>




<script>
    AOS.init();

    $(document).ready(function() {
            $("#spinner").hide()
            $("#spinner2").hide()




        $("#section").show()
    }
    )


    var a = 0;
    var b = 0;
    var c = 0;
    var blockchain;

    $.get("/crypto", function (rs, status) {
        console.log(rs.blockchain);
        $("#chain").html("<div></div>");



        blockchain = rs.blockchain;
        rs.blockchain.map(function (block) {


            if (block.Data.Reciver === "0x111111") a = a + block.Data.Amount;
            if (block.Data.Reciver === "0x222222") b = b + block.Data.Amount;
            if (block.Data.Reciver === "0x333333") c = c + block.Data.Amount;

            if (block.Data.Sender === "0x111111") a = a - block.Data.Amount;
            if (block.Data.Sender === "0x222222") b = b - block.Data.Amount;
            if (block.Data.Sender === "0x333333") c = c - block.Data.Amount;

            if (block.Data.Miner === "0x111111") a = a++;
            if (block.Data.Miner === "0x222222") b = b++;
            if (block.Data.Miner === "0x333333") c = c++;

            console.log(a, b, c);


            $("#a").html(`<h1 style="font-size: 45px">${rs.wallets[0].Amount}</h1></div>`);
            $("#b").html(`<h1 style="font-size: 45px">${rs.wallets[1].Amount}</h1></div>`);
            $("#c").html(`<h1 style="font-size: 45px">${rs.wallets[2].Amount}</h1></div>`);


            var color = "white";
            if (block.Validate === false) color = "red";

            $("#chain").append(`
  <div data-aos="fade-up-right" class="col-md-4 card-hover">


        <div style="font-size: 13px" class="mr-8 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="label">
                ${rs.blockchain.indexOf(block)}
            </div>

            <div class="row">
                <div class="col-md-3"><b>PrevHash</b></div>
                <div class="col-md-9">   ${block.PrevHash}
</div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Sender</b></div>
                <div class="col-md-9">  ${block.Data.Sender}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Amount</b></div>
                <div class="col-md-9"><span><div value="">${block.Data.Amount}</div></span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Reciver</b></div>
                <div class="col-md-9">${block.Data.Reciver}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Hash</b></div>
                <div class="col-md-9">${block.CurrHash}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Nonce</b></div>
                <div class="col-md-9">${block.Nonce}</div>
            </div>


        </div>


    </div>`)


        })


    });


    $("#sender").on('change', function () {


        if (this.value === "0x111111") {

            $("#reciver").html(`<option value="0x222222">Mark   </option><option value="0x333333">Bill   </option>`);


        } else if (this.value === "0x222222") {

            $("#reciver").html(`    <option value="0x111111">Steve</option>
                                    <option value="0x333333">Bill</option>`);


        } else if (this.value === "0x333333") {

            $("#reciver").html(`<option value="0x111111">Steve</option>
                                    <option value="0x222222">Mark</option>`);


        }


    });


    $("#transfer").click(function () {


        var i = 0;
        var j = 0;
        var k = 0;

        var sender = $("#sender").val();
        var reciver = $("#reciver").val();
        var amount = $("#amount").val();
        var go = false;

        if (sender === "0x111111") {
            if (a >= amount) {
                go = true;
            } else {
                alert("Insufficient Amount ! Please Select Other Account")
            }
        }
        if (sender === "0x222222") {
            if (b >= amount) {
                go = true;

            } else {
                alert("Insufficient Amount ! Please Select Other Account")
            }
        }
        if (sender === "0x333333") {
            if (c >= amount) {
                go = true;

            } else {
                alert("Insufficient Amount ! Please Select Other Account")
            }
        }


        if (sender === "0x111111" && reciver === "0x222222" || sender === "0x222222" && reciver === "0x111111") {
            $("#miner").html(`    <option value="0x333333">Bill</option>
                                    `);


        }

        if (sender === "0x333333" && reciver === "0x222222" || sender === "0x222222" && reciver === "0x333333") {
            $("#miner").html(`   <option value="0x111111">Steve</option>
                                    `);


        }

        if (sender === "0x111111" && reciver === "0x333333" || sender === "0x333333" && reciver === "0x111111") {
            $("#miner").html(`   <option value="0x222222">Mark</option>
                                    `);
        }


        var miner = $("#miner").val();

        if (go === true) {

            $("#spinner").show()
            $("#spinner2").show()




            $("#section").hide()

            $.get(`/cryptoadd?miner=${miner}&sender=${sender}&amount=${amount}&reciver=${reciver}&prevhash=${blockchain[blockchain.length - 1].CurrHash}`, function (rs, status) {

                $("#section").show();
                $("#spinner").hide();
                $("#spinner2").hide();

                console.log(rs.blockchain);
                $("#chain").html("<div></div>");


                blockchain = rs.blockchain;


                rs.blockchain.map(function (block) {


                    if (block.Data.Reciver === "0x111111") a = a + block.Data.Amount;
                    if (block.Data.Reciver === "0x222222") b = b + block.Data.Amount;
                    if (block.Data.Reciver === "0x333333") c = c + block.Data.Amount;

                    if (block.Data.Sender === "0x111111") a = a - block.Data.Amount;
                    if (block.Data.Sender === "0x222222") b = b - block.Data.Amount;
                    if (block.Data.Sender === "0x333333") c = c - block.Data.Amount;

                    if (block.Data.Miner === "0x111111") a = a++;
                    if (block.Data.Miner === "0x222222") b = b++;
                    if (block.Data.Miner === "0x333333") c = c++;

                    console.log(a, b, c);

                    $("#a").html(`<h1 style="font-size: 45px">${rs.wallets[0].Amount}</h1></div>`);
                    $("#b").html(`<h1 style="font-size: 45px">${rs.wallets[1].Amount}</h1></div>`);
                    $("#c").html(`<h1 style="font-size: 45px">${rs.wallets[2].Amount}</h1></div>`);

                    var color = "white";
                    if (block.Validate === false) color = "red";

                    $("#chain").append(`
  <div data-aos="fade-up-right" class="col-md-4 card-hover">


        <div style="font-size: 13px" class="mr-8 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="label">
                ${rs.blockchain.indexOf(block)}
            </div>

            <div class="row">
                <div class="col-md-3"><b>PrevHash</b></div>
                <div class="col-md-9">   ${block.PrevHash}
</div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Sender</b></div>
                <div class="col-md-9">  ${block.Data.Sender}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Amount</b></div>
                <div class="col-md-9"><span><div value="">${block.Data.Amount}</div></span></div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Reciver</b></div>
                <div class="col-md-9">${block.Data.Reciver}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Hash</b></div>
                <div class="col-md-9">${block.CurrHash}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><b>Nonce</b></div>
                <div class="col-md-9">${block.Nonce}</div>
            </div>


        </div>


    </div>`)


                })


            });
        }
    });

</script>
</body>
</html>